/* Screen width = 960px */
div {
	position:relative;
	padding:0px;
	float:left;
	margin:2px;
	border-radius:10px;
	background-color:DarkGray;
	text-align:center;
}

body{
	color: black;
	background-color:#9999FF;
}

div.divWholePage{
	margin-left: 15%;
	margin-top:20px;
	height:100%;
	float:center;
	background-color:#9999FF ;
}

div.divContainer{
	background-color:#9999FF;
	width:1000px;
	float:left;
}

div.divTitle{
	width:965px;
	background-color:#696969;
}

div.divTitle40Width{
	background-color:#696969;
	width:30%;
	text-align: left;
}

div.divTitle50Width{
	background-color:#696969;
	width:60%;
}

div.divTitle10Width{
	background-color:#696969;
	width:8%;
}

div.divPowerButton{
	width:480px;
	margin:0px;
}

div.divRobotControl {
	width:415px;
	height:280px;
}

div.divMJPEG {
	width:415px;
	height:280px;
}

div.divDashboard{
	width:125px;
	text-align: left;
}

img#webotsImage {
	max-width:100%; 
	max-height:230px;
	margin:10px;
}

div#mjpeg{
	margin-left:40px;
}

#loading{
	z-index: 99;
}

#loading-image {
	top: 10px;
	position: absolute;
	z-index: 100;
}

img.imgDash{
	padding-right:5px;
}

div.divSystemSense {
	width:480px;
}

div.divUserSense{
	width:480px;
}

div.divUserMotion{
	text-align: left;
	width:480px;
}

div.divSystemMotion {
	width:480px;
}

div.divTrainingButton {
	width: 966px;
	background-color:#696969;
}

div.divFullWidth{
	width: 966px;
	height:35px;
	background-color:#696969;
	text-align:center;
}

div.divInner40Width {
	width:40%;
	position:relative;
	float:left;
	margin:0px;
	text-align:left;
}

div.divInner60Width {
	width:60%;
}

div.divInner40Right{
	width:42%;
	position:relative;
	float:right;
	margin:0px;
	text-align:left;
}

div.divInner10Width {
	width:12%;
	margin:0px;
	float:left;
	text-align:center;
	position:relative;
}

div.divCentralGap{
	width:110px;
	margin:5px;
	padding:0px;
	border:2px solid black;
}

div.divConnectBarLeft {
	width:480px;
}

div.divConnectBarRight {
	width:480px;
}

div.divTriggerBoxSense{
	width:475px;
}

div.divEditNodeThresholds{
	width:480px;
	visibility: hidden;
	text-align: left;
}

div.divSelectInput{
	width:480px;
	visibility: hidden;
}

div.divSelectInputInner{
	text-align: left;
}

div.divSliderContainer{
	width:90%;
	position:relative;
	text-align:left;
	margin:5%;
}
#sliderDynamicDiv{
	width:95%;
	position:relative;
	text-align:left;
}

div.divSliderButtons{
	margin-left:170px;
}

div.divMotionRecorder{
	width:480px;
}

p.parSliderTitle{
	text-align:center;
}

#btnPowerOn{
	margin-top:5px;
	margin-left: -20px;
}

#btnTrainingMode{
	position:absolute;
	top: 5px;
	right: 5px;
}

#btnDisableTraining{
	position:absolute;
	top:5px;
	right:5px;
}

#btnAddTopics{
	margin-left: 190px;
}

table.tblTopics{
	margin-left: 105px;
}

#textStartCode{
	width:100px;
	display: none;
}

#btnStartCode{
	display: none;
}

div.endExperimentOverlay{
    position: absolute;
    width: 970px;
    height: 600px;
    background: rgba(255,255,255,0);
    z-index: 10;
    font-size: 50pt;
    color: white;
    margin-top: 70px;
    font-weight: bolder;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

div.divTrainingModeOverlay{
	position: absolute;
	width:970px;
	height:280px;
	background: rgba(255,0,0,0.2);
    z-index: 10;
    font-size: 40pt;
    color: white;
    margin-top: 70px;
    font-weight: bolder;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

img.imgQuestionTopRight{
	position:absolute;
	right: 5px;
	top: 5px;
	z-index: 3;
}

#imgQuestionTraining{
	position:absolute;
	top: 5px;
	left: 600px;
}


#imgController{
	/*position:absolute;
	top:30px; (Edits made when removing the overlay)*/
	border-radius:10px;
	margin-top:20px;
	z-index:5;
	width:380px;
	height:240px;
	top:-10px;
}
.btn-style-green{
	border : solid 1px #b9f3f7;
	border-radius : 5px;
	color : #b3e053;
	padding : 1px 10px;
	background : #148c26;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148c26), color-stop(0%,#0d7804), color-stop(0%,#178007), color-stop(0%,#1d6b0a), color-stop(100%,#054005));
	background : -webkit-linear-gradient(top, #148c26 0%, #0d7804 0%, #178007 0%, #1d6b0a 0%, #054005 100%);
	background : linear-gradient(top, #148c26 0%, #0d7804 0%, #178007 0%, #1d6b0a 0%, #054005 100%);
}

.btn-style-green:hover{
	background : #11ad28;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11ad28), color-stop(0%,#2f7529), color-stop(0%,#3c7a32), color-stop(0%,#558f46), color-stop(100%,#39b839));
	background : -webkit-linear-gradient(top, #11ad28 0%, #2f7529 0%, #3c7a32 0%, #558f46 0%, #39b839 100%);
	background : linear-gradient(top, #11ad28 0%, #2f7529 0%, #3c7a32 0%, #558f46 0%, #39b839 100%);
}

.btn-style-green:disabled{
	background: gray;
}

.btn-style-red{
	border : solid 1px #b9f3f7;
	border-radius : 5px;
	color : #b3e053;
	padding : 1px 10px;
	background : #ad1111;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad1111), color-stop(0%,#d60707), color-stop(0%,#f01111), color-stop(0%,#820303), color-stop(100%,#e00d0d));
	background : -webkit-linear-gradient(top, #ad1111 0%, #d60707 0%, #f01111 0%, #820303 0%, #e00d0d 100%);
	background : linear-gradient(top, #ad1111 0%, #d60707 0%, #f01111 0%, #820303 0%, #e00d0d 100%);
}

.btn-style-red:hover{
	background : #ad2121;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad2121), color-stop(0%,#d62d2d), color-stop(0%,#ed2121), color-stop(0%,#801b1b), color-stop(100%,#e02a2a));
	background : -webkit-linear-gradient(top, #ad2121 0%, #d62d2d 0%, #ed2121 0%, #801b1b 0%, #e02a2a 100%);
	background : linear-gradient(top, #ad2121 0%, #d62d2d 0%, #ed2121 0%, #801b1b 0%, #e02a2a 100%);
}

.btn-style-red:disabled{
	background:gray;
}

span.dropt {border-bottom: thin dotted; background: #ffeedd;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 2%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;} 



h1{
	margin:10px;
	/*margin-top:20px;*/
}
h2{
	margin:10px;
}
h3{
	margin:5px;
}
h4{
	margin:2px;
}