@import 'https://fonts.googleapis.com/css?family=Roboto:200,400,500';

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  
  background: rgb(240, 240, 240);
}

/* Error messages. */

#no-gamepads-connected,
#no-gamepad-support {
  font-family: Roboto, Arial;
  font-size: 12px;
  line-height: 24px;
  font-weight: 200;
  text-align: center;
  padding: 0px 0px;
  display: none;
}
#no-gamepad-support.visible {
  display: block;
}
#no-gamepads-connected.visible {
  display: block;
}

/* Gamepad display. */

#gamepads {
  margin: 0;
  margin-top: 0px;
  padding: 0;

  list-style: none;

  white-space: nowrap;
  text-align: center;
}
#gamepads > li {
  width: 300px;
  height: 220px;
  margin-left: 0px;

  position: relative;
  z-index: 102;
  display: inline-block;

  white-space: normal;
}
#gamepads > li.template {
  display: none;
}
#gamepads > li::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10;

  z-index: 200;

  background: url(images/gamepad-body.png);
  background-size: 300px 205px;
  background-position: 0px 20px;
  background-repeat: no-repeat;
}

/* Buttons. */

#gamepads > li > .buttons > ::after {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: black;

  opacity: 0;
}
#gamepads > li > .buttons > .pressed::after {
  opacity: .5;
}
#gamepads > li > .buttons > .top-shoulder {
  width: 170px;
  height: 70px;

  z-index: 200;

  position: absolute;

  background-size: 67px 20px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/shoulder-top.png);
}
#gamepads > li > .buttons > [name='button-left-shoulder-top'] {
  left: -24px;
  top: 10px;
}
#gamepads > li > .buttons > [name='button-right-shoulder-top'] {
  left: 154px;
  top: 10px;
}
#gamepads > li > .buttons > .top-shoulder.pressed {
  margin-top: 2px;
}
#gamepads > li > .buttons > .bottom-shoulder {
  width: 170px;
  height: 70px;

  z-index: 150;

  position: absolute;

  background-size: 52px 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/shoulder-bottom.png);
}
#gamepads > li > .buttons > [name='button-left-shoulder-bottom'] {
  left: -24px;
  top: 2px;
}
#gamepads > li > .buttons > [name='button-right-shoulder-bottom'] {
  left: 154px;
  top: 2px;
}
#gamepads > li > .buttons > .bottom-shoulder.pressed {
  margin-top: 2px;
}
#gamepads > li > .buttons > .face {
  width: 50px;
  height: 50px;

  z-index: 300;

  position: absolute;

  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 50%;
}
#gamepads > li > .buttons > .face::after {
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}
#gamepads > li > .buttons > [name='button-1'] {
  left: 213px;
  top: 88px;
  background-image: url(images/button-0.png);
}
#gamepads > li > .buttons > [name='button-2'] {
  left: 230px;
  top: 70px;
  background-image: url(images/button-1.png);
}
#gamepads > li > .buttons > [name='button-3'] {
  left: 196px;
  top: 70px;
  background-image: url(images/button-2.png);
}
#gamepads > li > .buttons > [name='button-4'] {
  left: 213px;
  top: 53px;
  background-image: url(images/button-3.png);
}

#gamepads > li > .buttons > [name='button-dpad-bottom'] {
  left: 36px;
  top: 87px;
  background-image: url(images/button-down.png);
}
#gamepads > li > .buttons > [name='button-dpad-right'] {
  left: 53px;
  top: 71px;
  background-image: url(images/button-right.png);
}
#gamepads > li > .buttons > [name='button-dpad-left'] {
  left: 19px;
  top: 71px;
  background-image: url(images/button-left.png);
}
#gamepads > li > .buttons > [name='button-dpad-top'] {
  left: 35px;
  top: 54px;
  background-image: url(images/button-up.png);
}
#gamepads > li > .buttons > .select-start {
  width: 90px;
  height: 90px;

  z-index: 300;

  position: absolute;

  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url(images/button-select-start.png);
}
#gamepads > li > .buttons > .select-start::after {
  left: 25px;
  top: 25px;
  right: 24px;
  bottom: 25px;
}
#gamepads > li > .buttons > [name='button-select'] {
  left: 84px;
  top: 50px;
}
#gamepads > li > .buttons > [name='button-start'] {
  left: 126px;
  top: 50px;
}

/* Sticks. */

#gamepads > li > .buttons > .stick {
  width: 190px;
  height: 190px;

  z-index: 300;

  position: absolute;

  background-size: 37px 37px;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url(images/stick.png);
}
#gamepads > li > .buttons > .stick::after {
  left: 54px;
  top: 54px;
  right: 54px;
  bottom: 54px;
}

#gamepads > li > .buttons > [name='stick-1'] {
  left: 12px;
  top: 47px;
}
#gamepads > li > .buttons > [name='stick-2'] {
  left: 99px;
  top: 47px;
}

/* Iframe mode. */

body.iframe {
  background: inherit;
}
body.iframe #gamepads {
  padding-top: 60px;
  margin-top: 0;
}
body.iframe #no-gamepads-connected,
body.iframe #no-gamepad-support {
  padding: 100px 50px 0 50px;
}