
div{
	position:relative;
	padding:0px;
	float:left;
	margin:2px;
	border-radius:10px;
	background-color:DarkGray;
	text-align:center;
}

body{
	background-color:#9999FF;
}

div.divControl {
	position:relative;
	padding:0px;
	width:415px;
	height:320px;
}

div.divContainer{
	margin-left:15%;
	width:1000px;
	float:left;
	background-color:#9999FF;
}

div.divDashboard{
	width:125px;
	text-align: left;
}

#divVideo{
	width:415px;
	height:320px;
}
#webotsImage{
	width:340px;
	height:220px;
}

#divMJPEG{
	margin-left:30px;
}

#divTutorials{
	width:960px;
	height:400px;
}

#divTutorialVideoLeft{
	width:33%;
	text-align: left;
}

#divTutorialVideoRight{
	width:65%;
	text-align:left;
}

.btn-style-green{
	border : solid 1px #b9f3f7;
	border-radius : 5px;
	margin:5px;
	color : #b3e053;
	padding : 1px 10px;
	background : #148c26;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#148c26), color-stop(0%,#0d7804), color-stop(0%,#178007), color-stop(0%,#1d6b0a), color-stop(100%,#054005));
	background : -webkit-linear-gradient(top, #148c26 0%, #0d7804 0%, #178007 0%, #1d6b0a 0%, #054005 100%);
	background : linear-gradient(top, #148c26 0%, #0d7804 0%, #178007 0%, #1d6b0a 0%, #054005 100%);
}

.btn-style-green:hover{
	background : #11ad28;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11ad28), color-stop(0%,#2f7529), color-stop(0%,#3c7a32), color-stop(0%,#558f46), color-stop(100%,#39b839));
	background : -webkit-linear-gradient(top, #11ad28 0%, #2f7529 0%, #3c7a32 0%, #558f46 0%, #39b839 100%);
	background : linear-gradient(top, #11ad28 0%, #2f7529 0%, #3c7a32 0%, #558f46 0%, #39b839 100%);
}

#btnTextMode{
	position:absolute;
	right:230px;
	top:340px;
}

#btnVideoMode{
	position:absolute;
	right:230px;
	top:340px;
}

#btnTextModeDelegate{
	position:absolute;
	top:140px;
	left:90px;
}

#btnVideoModeDelegate{
	position:absolute;
	top:140px;
	left:90px;
}

img.imgQuestionTopRight{
	position:absolute;
	right: 5px;
	top: 5px;
	z-index: 3;
}

#imgController{
	position:absolute;
	top:30px;		
	border-radius:10px;
	margin-top: 10px;
	z-index:5;
	width:380px;
	height:300px;
}

p.parLink{
	padding:0px;
	height:3px;
	margin:0px;
}

p.parLink:hover{
	cursor:hand;
}

h2{
	margin:5px;
	padding:5px;
}

iframe{
	margin:20px;
}