@import 'https://fonts.googleapis.com/css?family=Roboto:200,400,500';

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  
  background: rgb(240, 240, 240);
}

/* Error messages. */

#no-gamepads-connected,
#no-gamepad-support {
  font-family: Roboto, Arial;
  font-size: 12px;
  line-height: 24px;
  font-weight: 200;
  text-align: center;
  padding: 0px 0px;
  display: none;
}
#no-gamepad-support.visible {
  display: block;
}
#no-gamepads-connected.visible {
  display: block;
}

/* Gamepad display. */

#gamepads {
  margin: 0;
  margin-top: 0px;
  padding: 0;

  list-style: none;

  white-space: nowrap;
  text-align: center;
}
#gamepads > li {
  width: 537px;
  height: 414px;
  margin-left: 0px;

  position: relative;
  z-index: 102;
  display: inline-block;

  white-space: normal;
}
#gamepads > li.template {
  display: none;
}
#gamepads > li::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 10;

  z-index: 200;

  background: url(images/face.png);
  background-size: 537px 414px;
  background-position: 0px 20px;
  background-repeat: no-repeat;
}

/* Buttons. */

#gamepads > li > .buttons > ::after {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: lime;

  opacity: 0;
}
#gamepads > li > .buttons > .pressed::after {
  opacity: .5;
}
#gamepads > li > .buttons > .top-shoulder {
  width: 170px;
  height: 70px;

  z-index: 200;

  position: absolute;

  background-size: 83px 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  
}
#gamepads > li > .buttons > [name='button-left-shoulder-top'] {
  left: 48px;
  top: 36px;
  background-image: url(images/left_top_shoulder.png);
}
#gamepads > li > .buttons > [name='button-right-shoulder-top'] {
  left: 322px;
  top: 40px;
  background-image: url(images/right_top_shoulder.png);
}
#gamepads > li > .buttons > .top-shoulder.pressed {
  margin-top: 5px;
}
#gamepads > li > .buttons > .bottom-shoulder {
  width: 170px;
  height: 70px;

  z-index: 150;

  position: absolute;

  
  background-repeat: no-repeat;
  background-position: 50%;
  
}
#gamepads > li > .buttons > [name='button-left-shoulder-bottom'] {
  left: 44px;
  top: 28px;
  background-size: 45px 49px;
  background-image: url(images/left_trigger.png);
}
#gamepads > li > .buttons > [name='button-right-shoulder-bottom'] {
  left: 315px;
  top: 28px;
  background-size: 45px 49px;
  background-image: url(images/right_trigger.png);
}
#gamepads > li > .buttons > .bottom-shoulder.pressed {
  margin-top: 10px;
}
#gamepads > li > .buttons > .face {
  width: 50px;
  height: 50px;

  z-index: 300;

  position: absolute;

  background-size: 37px 37px;
  background-repeat: no-repeat;
  background-position: 50%;
}
#gamepads > li > .buttons > .face::after {
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
}
#gamepads > li > .buttons > [name='button-1'] {
  left: 380px;
  top: 153px;
  background-image: url(images/a.png);
}
#gamepads > li > .buttons > [name='button-2'] {
  left: 415px;
  top: 117px;
  background-image: url(images/b.png);
}
#gamepads > li > .buttons > [name='button-3'] {
  left: 342px;
  top: 117px;
  background-image: url(images/x.png);
}
#gamepads > li > .buttons > [name='button-4'] {
  left: 380px;
  top: 80px;
  background-image: url(images/y.png);
}

#gamepads > li > .buttons > [name='button-dpad-bottom'] {
  left: 171px;
  top: 217px;
  background-size: 25px 26px;
  background-image: url(images/down.png);
}
#gamepads > li > .buttons > [name='button-dpad-right'] {
  left: 196px;
  top: 195px;
  background-size: 25px 27px;
  background-image: url(images/right.png);
}
#gamepads > li > .buttons > [name='button-dpad-left'] {
  left: 146px;
  top: 194px;
  background-size: 25px 25px;
  background-image: url(images/left.png);
}
#gamepads > li > .buttons > [name='button-dpad-top'] {
  left: 171px;
  top: 170px;
  background-size: 24px 26px;
  background-image: url(images/up.png);
}
#gamepads > li > .buttons > .select-start {
  width: 90px;
  height: 90px;

  z-index: 300;

  position: absolute;

  background-size: 24px 20px;
  background-repeat: no-repeat;
  background-position: 50%;

  
}
#gamepads > li > .buttons > .select-start::after {
  left: 25px;
  top: 25px;
  right: 24px;
  bottom: 25px;
}
#gamepads > li > .buttons > [name='button-select'] {
  left: 175px;
  top: 99px;
  background-size: 24px 20px;
  background-image: url(images/back.png);
}
#gamepads > li > .buttons > [name='button-start'] {
  left: 275px;
  top: 101px;
  background-size: 28px 24px;
  background-image: url(images/start.png);
}

/* Sticks. */

#gamepads > li > .buttons > .stick {
  width: 63px;
  height: 65px;

  z-index: 300;

  position: absolute;

  background-size: 63px 65px;
  background-repeat: no-repeat;
  background-position: 50%;

  background-image: url(images/joystick.png);
}
#gamepads > li > .buttons > .stick::after {
  left: 54px;
  top: 54px;
  right: 54px;
  bottom: 54px;
  opacity: .5;
}

#gamepads > li > .buttons > [name='stick-1'] {
  left: 100px;
  top: 102px;

}
#gamepads > li > .buttons > [name='stick-2'] {
  left: 302px;
  top: 186px;
}

/* Iframe mode. */

body.iframe {
  background: inherit;
}
body.iframe #gamepads {
  padding-top: 60px;
  margin-top: 0;
}
body.iframe #no-gamepads-connected,
body.iframe #no-gamepad-support {
  padding: 100px 50px 0 50px;
}